body{  
  font-family: 'Times New Roman', Times, serif  ;
  background-color: rgb(21, 22, 22);  
} 
.container {  
  padding: 100px;  
background-color: darkcyan;  
}
div {  
  padding: 80px 0;  
}  

input[type=text], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
} 
input[type=text]:focus {  
  background-color: rgb(211, 191, 191);  
  outline: none;  
}   
.registerbtn {  
  background-color: #99a09a;  
  color: white;  
  padding: 10px 20px;  
  margin: 5px 0;  
  border: none;  
  cursor: pointer;  
  width: 10%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 30;  
} 
